<main class="page">
  <section>
    <div class="inner">
      <header>
        <h1><%=@project.name%></h1>
      </header>
      <div class="row">
        <div class="col-md-8 area">
          <p class=""><%= @project.area %></p>
        </div>
        <div class="col-md-4 date">
          <p class=""><%= @project.date %></p>
        </div>
      </div>
      <% @details.each do |detail|%>
        <p><%= detail %></p>
        <br>
      <% end %>
      <p class="tech"><%= @project.tech %></p>
    </div>
  </section>
</main>
